<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/main.css" />
    <title>Giovanni - 237</title>
  </head>
  <body>
    <div id="app">
      <template>
        <nav>
          <a href='https://github.com/giovannidw'><img src='{{ personal.avatar }}' alt=''></a>
          <a href='/workshop/'>Workshop</a>
        </nav>
        <section>
          

        </section>
        <section class="everyone">
          <h2>Who's at the Minor Web Dev?</h2>
        <div>
        {% for person in persons %}
        <article class="person">
          <div class="avatar">
            <img src='{{person.avatar}}' alt="{{person.name}}'s Avatar">
          </div>
          <div class="content">
            <h3>{{ person.name }}</h3>
      
            {% if person.bio %}
              <p>{{person.bio}}</p>
            {% endif %}
          </div>
        </article>
        {% endfor %}
        </div>
      </section>
      </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/liquidjs/dist/liquid.browser.umd.js"></script>
    <script src="./src/main.js" type="module"></script>
  </body>
</html>