@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  background: var(--c-primary);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.raleway-font {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  color-scheme: light dark;

  --c-blue: #1e90ff;
  --c-white: #efefec;

  --c-dark: #333c35;
  --c-gray: #b7b7b7;
  --c-green-50: #fbfbfa;
  --c-green-100: #ecf0eb;
  --c-green-200: #dee4db;
  --c-green-300: #cfd8cb;
  --c-green-400: #c1ccbb;
  --c-green-500: #b3c1ac;
  --c-green-600: #8f9a89;
  --c-green-700: #6b7367;
  --c-green-800: #474d44;
  --c-green-900: #232622;

  --c-primary: #b3c1ac;
--c-beige: #E4CFB3;
  --c-bg-light: var(--c-white);
  --c-text-light: var(--c-dark);

  --c-bg-dark: var(--c-dark);
  --c-text-dark: var(--c-white);

  --c-bg-glass: rgba(128, 128, 128, 0.3);

  --c-border: linear-gradient(
    157deg,
    rgba(255, 255, 255, 0.4) 2.12%,
    rgba(255, 255, 255, 0) 39%,
    rgba(255, 255, 255, 0) 54.33%,
    rgba(255, 255, 255, 0.1) 93.02%
  );
  --c-border-fallback: rgba(255, 255, 255, 0.4);
}




body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  /* max-width: 100svw; */
  overflow: visible;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: light-dark(var(--c-dark), var(--c-white));
  background-color: light-dark(var(--c-white),var(--c-dark));
}

#app {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  background: var(--c-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  inline-size: break-all;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
  position: sticky;
  top: 0;
  width: min-content;
  padding: 1em 2em 1em 1.5em;
  margin-inline: auto;
  /* padding: 1em; */
  /* max-width: 100%; */
  /* margin: 1em; */
  overflow:visible;
  font-weight: 700;
  background: var(--c-primary);
  /* https://scroll-driven-animations.style */

  /* https://cydstumpel.nl/css-scroll-driven-animations-for-creative-developers/ */
  animation-name: stickyHeader;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  animation-range: 0 120vh;
  /* transform:  */
  transform: scale(3) translate(calc(2vw - 1em), calc(20vh - 1em));
  border-radius: 0;
  /* border: 1px solid gray; */
}

@keyframes stickyHeader {
  20% {
    border-radius: 0;
    background-color: initial;
  }
  100% {
    transform: scale(1);
    background-color: var(--c-bg-glass);
    border-radius: 25em;
    /* color: var(--c-white); */
    backdrop-filter: blur(10px);
    /* font-weight: 800; */
    font-size: 1em;
    transform: scale(1) translate(0,1em);
    /* margin: 1em; */
  }
}

header a {
  /* was header a { */
  display: block;
  width: 2.5em;
  /* height: 2.5em; */
  overflow: visible;
  animation-name: scaleHeaderLogo;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  animation-range: 0 100vh;
  transform: scale(3);
  /* transform: translate(calc(1vw - 2em), calc(20vh - 3em)); */
}


@keyframes scaleHeaderLogo {
  100% {
    transform: translate(0,0);
    /* transform: translate(calc(50vw - 200px), calc(50vh - 160px)); */
    
  }
}

header > div {
  /* max-width: 100%; */
  display: inline;
  font-weight: 200;
  padding: 0;
  margin: 0;
  color: inherit;
  /* font-size: 2.5em; */
  /* transform: scale(1.5) translateX(5em) translateY(5em); */
  /* transform: translate(calc(30vw - 5em), calc(50vh - 5em)); */
  position: relative;
  /* flex-grow: 2; */
  animation-name: scaleHeaderText;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  animation-range: 0 70vh;

}

header h1 {
  font-weight: inherit;
  margin-block: 0;
}

header h1 span {
  /* font-size: 16px; */
  font-weight: 800;
  position: fixed;
  /* top: 0; */
  /* top: -1em; */
  /* transform: scale(1) translateX(1em) translateY(-2em); */
  transform: translate(0em,-2em);
  /* font-size: 1em; */
  /* min-width: 100svw; */
  line-height: 1;
  animation-name: scaleHeaderSub;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  animation-range: 0 50vh;
  width: 7ch;
  
}


@keyframes scaleHeaderText {
  20% {
    font-weight: 700;
    /* transform:  translate(calc(30vw - 5em), calc(50vh - 5em)); */
  }
  100% {
    font-size: 1em;
    /* transform: scale(1) translateX(0) translateY(0); */
    font-weight: 700;
  }
}


@keyframes scaleHeaderSub {
  20% {
    font-weight: 100;
  }
  100% {
    font-size: 1.1em;
    /* transform: scale(1) translateX(0) translateY(0); */
    font-weight: 100;
    opacity: 0;
  }
}

header p {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
}

header div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}





section {
  
  min-height: 100svh;
  padding: 1em;
  width: 100%;
}

#app section:nth-child(even) {
background: var(--c-beige);
}

.section-me {
  margin-top: 150vh;
  min-height: 100svh;
  /* background: red; */
  /* border: blue 1px solid; */
}


.section-learning {
  min-height: 100svh;
  /* background: blue; */
  /* border: red 1px solid; */
}


section.everyone > div {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 1em;
}

article.person {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  border: 1px solid gray;
  border-radius: 1.5em;
  padding: 0.5em;
  overflow: hidden;
  background-color: light-dark(var(--c-dark), var(--c-white));
  /* background-color: var(--c-bg-dark); */
  color: light-dark(var(--c-white), var(--c-dark));
}

section.everyone article.person div.avatar {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  /* padding: 0.5em; */
  height: 2em;
  width: 2em;
  aspect-ratio: 1/1;
}

section.everyone article.person div.content {
  padding: 0.5em;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

section.everyone article div.content h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
  /* -height: 100%; */
}
