@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  color-scheme: light dark;

  --c-blue: #1e90ff;
  --c-white: ##efefec;

  --c-dark: #333b3c 
}

body {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: light-dark(var(--c-dark),var(--c-white));
  background-color: light-dark(var(--c-white),var(--c-dark));
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

section {
  min-height: 100svh;
  padding: 1em;
}

section.everyone div {
  /* margin-top: 0.5em; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: masonry;
  grid-gap: 1em;
}

article.person {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  border: 1px solid gray;
  border-radius: 1.5em;
  padding: .5em;
  overflow: hidden;
  background: #000;
}

section.everyone article.person div.avatar {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  /* padding: 0.5em; */
  height: 2em;
  width: 2em;
  aspect-ratio: 1/1;
}

section.everyone article.person div.content {
  padding: 0.5em;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

section.everyone article div.content h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  /* min-width: 100%; */
  /* -height: 100%; */

}


nav {
  max-width: 100%;
  background: #000000af;
  border-radius: 25em;
  top: 0.5em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
  position: sticky;
}

nav img {
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
}




@keyframes FontVars {
  0% {
    font-variation-settings: 'XROT' -40, 'YROT' 1;
  }

  25% {
    font-variation-settings: 'XROT' 10, 'YROT' -40;
  }

  50% {
    font-variation-settings: 'XROT' 40, 'YROT' 40;
  }

  75% {
    font-variation-settings: 'XROT' 10, 'YROT' -40;
  }

  100% {
    font-variation-settings: 'XROT' -40, 'YROT' 1;
  }
}