#result {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
 
 grid-gap: 1em
}

img {
  max-width: 100%;
}


article.person {
  border: 1px solid gray;
  border-radius: 1em;
  overflow: hidden;
}

